@font-face {
  font-family: 'ShareTech';
  src: url('../vendor/ShareTech-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

:root {
  --font-family-tech: 'ShareTech', sans-serif;
  --body-background: url('../images/background.webp');
  --main-text-color: #cdcbcb;
  --accent-color: #0056b3;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #8a8a8a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 10px;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0,0,0,8),rgba(0,0,0,.7)), var(--body-background) center / cover no-repeat;
  color: #ffffffc0;
}

.container {
  padding: 20px 60px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  height: 100%;
}

.container_blur {
  filter: blur(10px);
  overflow: hidden;
}

@media screen and (width > 1280px) {
  .container {
    padding: 40px calc(50% - 580px);
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.underline::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  border-radius: 5%;
  background-color: var(--accent-color);
}

.title {
  font-family: var(--font-family-tech);
  color: var(--main-text-color);
  font-size: 60px;
  margin: 0;
}

.title_accent {
  color: var(--accent-color);
}

.field {
  font-family: monospace;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  background: #202020;
  font-size: 18px;
  outline: none;
  transition: .2s;
  resize: none;
  color: var(--main-text-color);
}

.field_output-container {
  height: 100%;
  overflow: auto;
  flex-grow: 1;
}

.field_output {
  margin: 0;
  white-space: pre-wrap;
  height: 100%;
  overflow: auto;
}

.field:focus {
  box-shadow: 0 0 20px 1px var(--accent-color);
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.button {
  font-family: var(--font-family-tech);
  background-color: var(--accent-color);
  color: var(--main-text-color);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: .2s;
  outline: none;
  flex: 1 1 100%;
}

.button:hover {
  box-shadow: 0 0 20px 1px #3d6897;
  background-color: #3d6897;
}

.button:active {
  transform: scale(0.9);
}

h2 {
  font-family: var(--font-family-tech);
  font-weight: 700;
  margin: 20px 0 0;
  color: var(--main-text-color);
  font-size: 28px;
}

.notification {
  font-family: var(--font-family-tech);
  margin-top: 10px;
  color: #28a745;
  font-weight: 400;
}

.tools {
  position: fixed;
  top: 50px;
  right: 0;
  max-width: 40%;
  padding: 40px 20px;
  transform: translateX(100%);
  background: #202020;
  border-radius: 10px;
  transition: .2s;
  border: 1px solid var(--accent-color);
  color: inherit;
}

.tools__bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -50px;
  width: 50px;
  height: 100px;
  transition: .2s;
}

.tools__bookmark:hover {
  box-shadow: 0 0 20px 1px #3d6897;
  background-color: #3d6897;
  cursor: pointer;
}

.tools__bookmark img {
  width: 30px;
  height: 30px;
}

.tools_open {
  transform: translateX(0);
}

.tools_name {
  font-size: 20px;
  color: inherit;
}

.label {
  font-family: var(--font-family-tech);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  gap: 20px;
  color: inherit;
}

a.label {
  margin-top: 30px;
  display: inline-block;;
}

.error {
  font-family: var(--font-family-tech);
  margin-top: 10px;
  color: #de041a;
  font-weight: 400;
}

.popup {
  position: fixed;
  top: 20px;
  right: -100%;
  border-radius: 10px;
  background-color: #202020;
  max-width: 70%;
  transition: .2s;
  overflow: hidden;
  color: var(--main-text-color);
}

.popup_open {
  right: 20px
}

.popup_type_error {
  top: 65px;
  z-index: 5;
  border: 1px solid #ce0000;
}

.popup_type_warning {
  border: 1px solid #ffda05;
}

.popup_type_first {
  z-index: 10;
}

.popup_type_latest {
  z-index: 4;
  cursor: pointer;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 5px;
  padding: 3px;
  cursor: pointer;
  transition: .2s;
  font-size: 26px;
}

.popup__content {
  padding: 20px;
  overflow: scroll;
  max-height: 70vh;
  overflow: auto;
}

.popup__message {
  font-family: var(--font-family-tech);
}

.popup__content p {
  word-wrap: break-word;
  font-family: monospace;
}

.popup__divider {
  height: 30px;
  width: 100%;
}

.popup__divider_warning {
  background: #ffda05;
}

.popup__divider_error {
  background: #ce0000;
}

.preloader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  opacity: 0;
  visibility: hidden;
}

.preloader__image {
  display: block;
  width: 100px;
}

.preloader_visible {
  opacity: 1;
  visibility: visible;
}

@media screen and (width <= 768px) {
  .title {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    margin: 0;
  }
  .buttons {
    flex-direction: column;
    gap: 10px;
  }
  .button {
    width: 100%;
    padding: 5px 15px;
  }
  .tools {
    padding: 20px;
  }
  .label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .field {
    font-size: 16px;
  }
}